@page
@model HartjeEindhoven.Web.Pages.RoomTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoomTypeModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomTypeModel.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomTypeModel.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomTypeModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomTypeModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomTypeModel.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomTypeModel.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RoomTypeModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
